@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Labrada&display=swap');

* {
    line-height: 1.6;
    font-family: 'Labrada', serif;
    box-sizing: border-box;
    
    
    /* font-size: ;
    font-style: ;
    font-display: ; */
}

body {
    background-image:url(https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
    h2,
        h3{
    text-transform: uppercase;
    font-weight: bold;
    column-span: all;
}

h1 {
    background-color:rgba(146, 82, 82, 0.582);
    margin-top: 80px;
}


#title {
    text-align: center;
    text-decoration: underline overline black solid;
    
}

article {
    column-count: 2;
    column-gap: 50px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: darkred;
    column-width: 100px;
    margin: 50px 50px;
}

.seccion1 {
    position:relative;
    margin-right: 50%;
    border-right: 1px darkred solid;
    text-align: center;
    padding-right: 8px;
} 

.exorcismo,
    .mono,
        .noel,
            .planta,
                .unicornio {
                    display: flex;
                    flex-direction: column;
}

.seccion2 {
    position:absolute;
    margin-left: 50%;
    top: 131px;
    text-align: center;
    padding-left: 8px;
    
}

.seccion3 {
    column-count: 3;
    position:static;

}

.seccion4 {
    column-count: 2;
    position:absolute;
    margin-left: 50%;
    bottom: -1697px;
    text-align: center;
    border-left: 1px darkred solid;
    padding-left: 8px;
    
} 

.seccion5 {
    column-count: 2;
    position:relative;
    margin-right: 50%;
    text-align: center;
    padding-right: 8px;
    
}

img {
    width: 250px;
    margin:0px 50px;
}

q {
   quotes: """";
   font-style: oblique; 
   
}

/* .seccion1 img {
    width: 250px;
    margin:0px 30px;
} */


footer {
    margin-top: 100px;
    text-align: center;
}